:root {
    --main-bg-color: rgb(35, 47, 61);
}

html {
    transition: all 1s;
}

body {
    background-color: var(--main-bg-color);
    height: 100%;
    background-image: url("https://wallpapers.com/images/featured/9w27dqmc4nrs3xwd.jpg");
}

#reportsSection, #aboutSection {
    display: none;
}

.card {
    display: inline-block;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    margin: 50px;
    color: white;
}

#coinsContainer {
    position: absolute;
    transition: transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}