:root {
    --main-bg-color: rgb(35, 47, 61);
}

html {
    transition: all 1s;
}

body {
    background-color: var(--main-bg-color);
    height: 100%;
}

#reportsSection, #aboutSection {
    display: none;
}

.card {
    display: inline-block;
}

#coinsContainer {
    position: absolute;
    transition: transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}